
body {
    background-color: rgb(1, 1, 24);
    height: 100vh;
    display: flex;
    font-family: 'Poppins',sans-serif;
    color: rgb(245, 245, 245);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header {
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    height: 45px;
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    
}
.header__link{
    text-decoration: none;
    box-sizing: border-box;
   
}
.header__link:hover{
    opacity: .6;
 }
 .header__link:focus{
    outline: none;
    border-radius: 4px;
 }
 .icone{
    width: 30px;
    padding: 2px;
       
 }
 .main{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;

 }
 .intro{
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    margin: 1.5rem;
   
 }
 .intro__foto {
    width: 300px;
    height: 300px;  
    max-width: 100%;
 
 }
 .intro__nome{
    font-family: 'Damion',cursive;
    font-size: 52px;
    font-weight: 400;
    color: rgb(245, 245, 245); 
    margin-top: 10px;
    align-items: center;
    padding: 4px;
    color: #e06500;
   
 }
 .intro__descricao{
   font-family: 'Poppins';
   font-size: 17px;
   font-weight: 400;
   box-sizing: border-box;
   position: relative;
   align-items: center;
   justify-content: center;
   flex-direction: column;  
   padding: 5px;
   border-radius: 8px;
   background-color:rgb(1, 1, 40);
   width: 66vw;
   line-height: normal; 
   margin: 0 auto;
}
.section {
   padding: 8px;
   width: 80vw;
   max-width: 900px;
   margin: 0 auto;
   box-sizing: border-box;
   flex-direction: column;  
   display: flex;
   padding: 4px;
   position: relative; 
   margin: 0 auto;
}
  
.section__titulo{
  font-family: 'Damion',cursive;
  font-size: 35px;
  font-weight: 400;
  color:rgb(245, 245, 245); 
  justify-content: center;
  
  color: #e06500;

}
.section__bio {
   background-color:rgb(1, 1, 40);
   color: rgb(245, 245, 245);
   font-family: 'Poppins',sans-serif;
   box-sizing: border-box; 
   font-size: 17px;
   height: 100%;
   margin-top: 1px;
   border-radius: 8px;
   padding: 5px;
   line-height: normal;
}
.contribuicoes {
   padding: 8px;
   width: 80vw;
   max-width: 900px;
   margin: 0 auto;
   box-sizing: border-box;
   flex-direction: column;  
   display: flex;
   padding: 4px;
   position: relative; 
}
.contribuicoes__titulo{
   font-family: 'Damion',cursive;
  font-size: 35px;
  font-weight: 400;
  color:rgb(245, 245, 245); 
  justify-content: center;
  color: #e06500;
 
}
.contribuicoes__bio{
   background-color:rgb(1, 1, 40);
   color: rgb(245, 245, 245);
   font-family: 'Poppins',sans-serif;
   box-sizing: border-box; 
   font-size: 17px;
   height: 100%;
   margin-top: 1px;
   border-radius: 8px;
   padding: 5px;
   line-height: normal;
}
.contribuicoes__subtitulo{
   color: #e06500;
   font-family: 'Poppins',sans-serif;

}
.contribuicoes--sep{
   background-color:rgb(1, 1, 40);
   color: rgb(245, 245, 245);
   font-family: 'Poppins',sans-serif;
   box-sizing: border-box; 
   font-size: 17px;
   height: 100%;
   margin-top: 1px;
   border-radius: 8px;
   padding: 5px;
   line-height: normal;
   

}
